<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!-- 当前Spring支持注解 -->
    <context:annotation-config/>
    <!--&lt;!&ndash; 设置当前项目的根包 &ndash;&gt;-->
    <!--<context:component-scan base-package="com.boollean">-->
        <!--<context:exclude-filter type="annotation"-->
                                <!--expression="org.springframework.stereotype.Controller" />-->
    <!--</context:component-scan>-->



    <bean id="sessionFactory" class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="configLocation">
            <value>classpath:hibernate.cfg.xml</value>
        </property>
    </bean>

    <!-- 配置action，action交由spring管理 -->
    <bean id="userAction" class="com.boollean.action.UserAction" scope="prototype">
        <property name="userService" ref="userService"></property>
    </bean>
    <bean id="messageAction" class="com.boollean.action.MessageAction" scope="prototype">
        <property name="messageService" ref="messageService"></property>
    </bean>

    <!-- 配置业务层service -->
    <bean id="userService" class="com.boollean.service.impl.UserServiceImpl">
        <property name="userDao" ref="userDao"></property>
    </bean>
    <bean id="messageService" class="com.boollean.service.impl.MessageServiceImpl">
        <property name="messageDao" ref="messageDao"></property>
    </bean>

    <!-- 配置dao -->
    <bean id="userDao" class="com.boollean.dao.impl.UserDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <bean id="messageDao" class="com.boollean.dao.impl.MessageDaoImpl">
        <property name="sessionFactory" ref="sessionFactory"></property>
    </bean>

    <!-- 配置事务管理器 -->
    <bean id="transactionManager" class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory"/>
    </bean>
    <!-- 开启注解事务 -->
    <tx:annotation-driven transaction-manager="transactionManager" />

</beans>